.koszyk {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

li, p {
    font-size: larger;
}

button {
    margin-top: 50px;
    width: 150px;
    height: 30px;
    font-size: medium;
}